.row
  .col-lg-12
    %br
    =hidden_field_tag :hidden_name, "#{@staff.first_name} #{@staff.last_name}"
    %h3 Avances como supervisor
    - students = Student.where(:status => [Student::ACTIVE,Student::PENROLLMENT]).where("supervisor=:staff_id OR co_supervisor=:staff_id",:staff_id=>@staff.id).order("start_date desc")
    %h5= "(#{students.size})"
    %br
.row
  .col-lg-12
    %ul.list-group
      - students.each do |s|
        - advances = Advance.where("advances.student_id=?",s.id).order("advance_date")
        - advance  = advances[0]
        %li.list-group-item#myList
          %span.full-name= s.full_name 
          %span.advance-type= "[#{Advance::TYPE[advance.advance_type] rescue "N.D."}]"
          - ts = s.term_students.joins(:term).where("terms.advance_start_date<=? and terms.advance_end_date>=?",Date.today,Date.today)
          - if ts.size > 0
            - file = StudentAdvancesFiles.where(:term_student_id=>ts[0].id)
            - if file.size > 0
              .ts-files
                %span.file-group
                  - href= "/alumno/archivo/#{file[0].id}"
                  %a.hoverini{'id'=>"a_#{s.id}_#{ts[0].id}",'s_id'=>ts[0].id, 't_id'=>1 ,:adv_id=>s.id,:href=>href}
                    %span
                      =# "Descargar"
                      %i.material-icons= "archive" 
                  - if advance.status.eql? 'C'
                    %a.hoverini.click-modal{"ts_id"=>"#{ts[0].id}"}
                      %span
                        %i.material-icons= "announcement"

            - else
              .ts-files
                %span.file-group
                  %a
                    %span
                      = "En espera"
                      %i.material-icons{:style=>"vertical-align: bottom;"}= "query_builder" 
              
          - else
            %span.ts-files
              

- ################################################################################################# -
- #################################### COMO COMITE ################################################ -
.row
  .col-lg-12
    %br
    %h3 Avances como comité tutoral
    - advances = Advance.where("(tutor1=:id or tutor2=:id or tutor3=:id or tutor4=:id or tutor5=:id) and advances.status='P' and advance_date>=:date",:id=>current_user.id,:date=>Date.today - 300.days) 
    %h5= "(#{advances.size})" 
    %br
.row
  .col-lg-12
    %ul.list-group
      - advances.each do |advance|
        - s = advance.student
        
        %li.list-group-item#myList
          %span.full-name= s.full_name 
          %span.advance-type= "[#{Advance::TYPE[advance.advance_type] rescue "N.D."}]"
          - ts = s.term_students.joins(:term).where("terms.advance_start_date<=? and terms.advance_end_date>=?",Date.today,Date.today)
          - if ts.size > 0
            - file = StudentAdvancesFiles.where(:term_student_id=>ts[0].id)
            - if file.size > 0
              .ts-files
                %span.file-group
                  - href= "/alumno/archivo/#{file[0].id}"
                  %a.hoverini{'id'=>"a_#{s.id}_#{ts[0].id}",'s_id'=>ts[0].id, 't_id'=>1 ,:adv_id=>s.id,:href=>href}
                    %span
                      =# "Descargar"
                      %i.material-icons= "archive" 
            - else
              .ts-files
                %span.file-group
                  %a
                    %span
                      = "En espera"
                      %i.material-icons{:style=>"vertical-align: bottom;"}= "query_builder" 
              
          - else
            %span.ts-files

%p