- @nciclo = '2017-1'
- @ciclo  = '2016-2'
%h3
  ="Inscripciones  "
  ="&nbsp;&nbsp;".html_safe
  = image_tag "help.png", :id=> "help_ico", :width=>'18px', :style=>"cursor:pointer; position: absolute;"

%br
%table#student-schedule{:style=>'border:0px;width:500px;'}
  - counter = 0
  - if @students.size > 0
    - @students.each do |s|
      - counter = counter + 1
      - ## obtener ultimo ciclo cursado
      - last_term  = Term.joins(:term_students=>:student).where(:students=>{:id=>s.id}).order("terms.end_date desc").limit(1)[0]  rescue ""
      - @e_term_name = last_term.name rescue "Ciclo no disponible"
      %tr
        - access_status = 0
        - if s.status.eql? 6 and last_term.name[0..5].eql? @nciclo
          - ts_status  = TermStudent.where(:term_id=>last_term.id,:student_id=>s.id)[0].status rescue 0
          - if ts_status.eql? 7
            - access_status = 3
          - else
            - access_status = 1
        - elsif s.status.eql? 6
          - access_status = 3
        - elsif s.status.eql? 1
          - access_status = 2
        -# elsif s.status.eql? 6 and s.program.level.to_i.eql? 2 and !@e_term.nil?  ## acceso para los de doctorado sin materias
          - access_status = 2
        %td.dia{:style=>'cursor:pointer;border:0px',:id=>s.id,:status=>access_status}
          .session_block(class="session_style_#{counter}"){:id=>"sblock_#{s.id}"}
            .session-title
              = s.full_name
              .session-alert
                - if access_status.eql? 1
                  %span{:id=>"text_#{s.id}"}= "[Verificar Materias]"
                  %center
                    = image_tag "fail_40px.png", :id=> "img_fail_#{s.id}" , :width=>'15px'
                    = image_tag "ok_40px.png", :id=> "img_ok_#{s.id}" , :width=>'15px',:style=>'display: none '
                - elsif access_status.eql? 2
                  = "[Alumno Activo]"
                - elsif access_status.eql? 3
                  = "[El alumno está eligiendo materias]"
                - else
                  = "[Estatus desconocido]"
            .session-staff{:id=>"sstaff_#{s.id}"}= "#{s.program.name} [#{@e_term_name}]"
            -#.session-staff{:id=>"sstaff_#{s.id}"}= "#{s.program.name} [#{@e_term_name}] #{@e_courses} #{s.status}"

  - else
    %tr
      %td.dia= "No hay alumnos para inscripción"

#content-panel.main-panel.programs-main

#new-enrollment-dialog
  #courses
    = image_tag "ajax-load2.gif", :id=> "img-loader",:align=>:center,:valign=>:center
  #buttons
    = button_tag "Cerrar", :disable_with => "Enviando..." , :id=>"nedCloseButton", :class=>"message-button"
    = submit_tag "Inscribir", :id=>"nedSendButton",:align=>:center
    = submit_tag "Rechazar", :id=>"nedRefuseButton"
