%h2="Calificaciones (avance programatico)"
-if @access
  - advance = Advance.joins(:student=>[:term_students=>:term]).joins(:student=>:program).where("terms.status=? AND curdate() between terms.grade_start_date AND terms.grade_end_date AND advances.id=?",3,@advance.id)
  - if !advance.size.eql? 0
    = form_tag "/calificar/avance/#{@advance.id}/set",:remote =>true, :id=>"advance-grades-form", :name=>"advance-grades-form"
    %table.tc-students
      %tr
        %td
          %p=@advance.student.full_name
          %p=@advance.title
          %p=@advance.student.program.name
      %tr
        %td
          = select_tag "grade_#{@advance.id}", options_for_select( (0..100).to_a), "tcs_id" => @advance.id, :prompt => "----"
      %tr
        %td
          = submit_tag "Calificar"
  - else
    = "No estamos en fechas de calificaciones"
-else
  = "Usted no es tutor en este avance"
