%h2="Calificaciones"
- @disabled_counter = 0
- if @tc_r.size <= 0 
  = "El curso no esta listo para ser calificado"
- else
  %h3=@tc.course.name
  %br

  - if @tcs.size > 0
    #message-area-2{:style=>"display:none;"}
      %h4="Nota: Solo puede dar de alta una vez las calificaciones, si desea hacer una correcci칩n deber치 solicitarlo personalmente al departamento de posgrado"
    #message-area-3{:style=>"display:none;"}
      %h4="Usted ya ha cargado las calificaciones, cualquier modificaci칩n debera solicitarlo directamente al departamento de posgrado"
    %br
    = form_tag "/calificar/#{@tc.id}/set",:remote =>true, :id=>"grades-form", :name=>"grades-form"
    %table.tc-students
      %tr.header
        %th="Matricula"
        %th="Nombre del alumno"
        %th="Calificaci칩n"
        - @tcs.each_with_index do |tcs,i|
          - @disabled = false
          - if GradesLog.where(:term_course_student_id=>tcs.id).size > 0
            - @disabled = true
            - @disabled_counter = @disabled_counter + 1
          %tr
            %td= tcs.term_student.student.card
            %td= tcs.term_student.student.full_name
            %td
              = select_tag "grade_#{i}", options_for_select( (0..100).to_a, tcs.grade.to_s), "tcs_id" => tcs.id, :prompt => "----", :disabled=> @disabled
              = hidden_field_tag "tcs_id_#{i}", tcs.id
      %tr
        %td{:colspan=>"3"}
          - if @disabled_counter > 0
            - @disabled_button= "disabled"
            :javascript
              $("#message-area-3").show();
          - else
            :javascript
              $("#message-area-2").show();
  
          = submit_tag "Calificar",:disabled=> @disabled_button
          = image_tag "/images/ajax-load2.gif", :id => "img-load-grades", :alt=>"Loading...", :align=>"center",:width=>"20px",:style=>"display: none;"
          #message-area

  - else
    %h4="No hay alumnos registrados en este curso."

