.row
  .col-lg-12
    %h3 Horario
    - if @error
      %br
      %p{:align=>'center'}
        - if @error.to_i == 1
          = "No se pueden mandar fechas vacias"
        - if @error.to_i == 2
          = "La fecha inicial no puede ser mayor que la final"
    - else
      %div= "(#{l @sd, :format => :long} – #{l @ed, :format => :long})"
      %br
      %span.download
        = link_to :controller => "staffs", :action => "schedule_table", :id => @id, :start_date=> @start_date, :end_date=>@end_date, :format => 'pdf' do
          = "pdf"
          %i.material-icons{:style=>"vertical-align: bottom;"}= "archive" 

      .embed-responsive.embed-responsive-1by1
        %iframe#iframmy2.embed-responsive-item{:src => "/horarios/schedule"}

