- if @advance.status.eql? "C"
  %b= "Calificación del comite tutoral: "
  - if @avg.nil?
    = "N.D."
  - else
    = @avg
  %p
  %b= "Comentarios del comite tutoral"
  %br
  - if @advance.nil?
    = "Sin Comenarios" 
  - else
    = @advance.notes.gsub(/\n/,"<br>").html_safe
- else
  %b= "Calificación del comite tutoral: "
  = "N.D."
  %p
  %b= "Comentarios del comite tutoral"
  %br
  = "N.D." 
  

