.row
  .col-lg-12
    %span.switch.switch
      %input.switch#students_switch{:type=>"checkbox"}
      ="Tablas"
      %label{:for=>"students_switch"}="Tarjetas"
.row
  .col-lg-12
    %br
    =hidden_field_tag :hidden_name, "#{@staff.first_name} #{@staff.last_name}"
    %h3= "Estudiantes activos"
    - students = Student.where(:status => [Student::ACTIVE,Student::PENROLLMENT]).where("supervisor=:staff_id OR co_supervisor=:staff_id",:staff_id=>@staff.id).order("start_date desc")
    %h5= "(#{students.size})"
    %br
.row
  -if students.size > 0
    - students.each_with_index do |supervised, index|   
      .col-lg-4.col-md-6
        .card.text-left
          .card-header=supervised.full_name
          .card-body
            %p.card-text.supervisors
              = "Programa: "
              = supervised.program.name
              %br
              = "Campus: "
              = supervised.campus.name.gsub(/CIMAV /,'') rescue ''
              %br
              = "Inicio: "
              = l supervised.start_date, :format => "%-d %B %Y"
              %br
              = "Supervisor: "
              %b= supervised.staff_supervisor.full_name rescue 'N.D'
              %br
              - if !supervised.staff_co_supervisor.nil?
                = "Co-supervisor: "
                = supervised.staff_co_supervisor.full_name rescue 'N.D.'
              - else
                = "&nbsp;".html_safe

    .table-responsive
      %table.table.table-bordered.table-sm
        %tbody
          %tr.header
            %th Nombre
            %th Programa
            %th Campus
            %th Inicio
            %th Supervisores
        - students.each_with_index do |supervised, index|   
          %tr.text-left
            %td
              .supervisors= supervised.full_name
            %td
              .supervisors= supervised.program.name
            %td
              .supervisors= supervised.campus.name.gsub(/CIMAV /,'') rescue ''
            %td
              .supervisors= l supervised.start_date, :format => "%-d %B %Y"
            %td
              .supervisors
                %b= "Director: "
                = supervised.staff_supervisor.full_name rescue 'N.D'
                %br
                - if !supervised.staff_co_supervisor.nil?
                  %b= "Co-director: "
                  = supervised.staff_co_supervisor.full_name rescue 'N.D.'
                - else
                  = "&nbsp;".html_safe
      
.row
  .col-lg-12
    %br
    %h2 Estudiantes graduados
    - ss  = @staff.supervised.where(:status => Student::GRADUATED).order("start_date desc")
    - scs = @staff.co_supervised.where(:status => Student::GRADUATED).order("start_date desc")
    %h5="(#{ss.size+scs.size})"

.row

  -if ss.size > 0 || scs.size > 0
    
    - ss.each_with_index do |supervised, index|
      .col-lg-4.col-md-6
        .card.text-left
          .card-header=supervised.full_name
          .card-body
            %p.card-text.supervisors
              = "Programa: "
              = supervised.program.name
              %br
              = "Campus: "
              = supervised.campus.name.gsub(/CIMAV /,'') rescue ''
              %br
              = "Inicio: "
              = l supervised.start_date, :format => "%-d %B %Y"
              %br
              =# "Defensa"
              =# (l supervised.thesis.defence_date, :format => :short) rescue "N.D."
              = "Supervisor: "
              %b= supervised.staff_supervisor.full_name rescue 'N.D.'
              %br
              - if !supervised.staff_co_supervisor.nil?
                = "Co-supervisor: "
                = supervised.staff_co_supervisor.full_name rescue 'N.D.'
              - else
                = "&nbsp;".html_safe
    
    - scs.each_with_index do |supervised, index|
      .col-lg-4.col-md-6
        .card.text-left
          .card-header=supervised.full_name
          .card-body
            %p.card-text.supervisors
              = "Programa: "
              = supervised.program.name
              %br
              = "Campus: "
              = supervised.campus.name.gsub(/CIMAV /,'') rescue ''
              %br
              = "Inicio: "
              = l supervised.start_date, :format => "%-d %B %Y"
              %br
              =# "Defensa"
              =# (l supervised.thesis.defence_date, :format => :short) rescue "N.D."
              = "Supervisor: "
              = supervised.staff_supervisor.full_name rescue 'N.D.'
              %br
              - if !supervised.staff_co_supervisor.nil?
                = "Co-supervisor: "
                %b= supervised.staff_co_supervisor.full_name rescue 'N.D.'
              - else
                = "&nbsp;".html_safe
  
  .table-responsive
    %table.table.table-bordered.table-sm
      %tbody
        %tr.header
          %th Nombre
          %th Programa
          %th Campus
          %th Inicio
          -#%th Defensa Tesis
          %th Asesores
      - ss.each_with_index do |supervised, index|
        %tr.text-left
          %td
            .supervisors= supervised.full_name
          %td
            .supervisors= supervised.program.name
          %td
            .supervisors= supervised.campus.name.gsub(/CIMAV /,'') rescue ''
          %td
            .supervisors= l supervised.start_date, :format => "%-d %B %Y"
          -#%td
            -#.supervised= (l supervised.thesis.defence_date, :format => :short) rescue "N.D."
          %td
            .supervisors
              %b= "Director: "
              = supervised.staff_supervisor.full_name rescue 'N.D'
              %br
              - if !supervised.staff_co_supervisor.nil?
                %b= "Co-director: "
                = supervised.staff_co_supervisor.full_name rescue 'N.D.'
              - else
                = "&nbsp;".html_safe    
      - scs.each_with_index do |supervised, index|     
        %tr.text-left
          %td
            .supervisors= supervised.full_name
          %td
            .supervisors= supervised.program.name
          %td
            .supervisors= supervised.campus.name.gsub(/CIMAV /,'') rescue ''
          %td
            .supervisors= l supervised.start_date, :format => "%-d %B %Y"
          -#%td
            -#.supervised= (l supervised.thesis.defence_date, :format => :short) rescue "N.D."
          %td
            .supervisors
              %b= "Director: "
              = supervised.staff_supervisor.full_name rescue 'N.D'
              %br
              - if !supervised.staff_co_supervisor.nil?
                %b= "Co-director: "
                = supervised.staff_co_supervisor.full_name rescue 'N.D.'
              - else
                = "&nbsp;".html_safe      