-if @staff.supervised.where(:status => Student::ACTIVE).count > 0 || @staff.co_supervised.where(:status => Student::ACTIVE).count > 0
  %h2 Estudiantes activos
  %table.formatted-table.students_active
    %tbody
      %tr.header
        %th Nombre
        %th Programa
        %th Campus
        %th Inicio
        %th Co-Asesor
        %th Avances
      - @staff.supervised.where(:status => Student::ACTIVE).order("start_date").each_with_index do |supervised, index|    
        %tr.active-student-item{:id=>"active_student_#{supervised.id}", :student_id=>supervised.id}
          %td= supervised.full_name
          %td= supervised.program.name
          %td= supervised.campus.name rescue ''
          %td= l supervised.start_date, :format => :short
          %td= supervised.staff_co_supervisor.full_name rescue ''
          - resultset = supervised.term_students.joins(:term).where("start_date<=? and end_date>=?",Date.today,Date.today)
          - if resultset.size<=0
            %td
              = "No hay ciclos vigentes"
          - else
            - resultset.each_with_index do |ts, index|
              %td
                %a{'id'=>"a_#{ts.id}",'s_id'=>ts.id,'class'=>'ts_files','style'=>'cursor:pointer;'}= ts.term.name 
              %tr
                %td{'id'=>"slider_#{ts.id}",'style'=>'display:none;',"colspan"=>"6"}
                  = "Buscando archivos..."

      - @staff.co_supervised.where(:status => Student::ACTIVE).order("start_date").each_with_index do |supervised, index|
        %tr.active-student-item{:id=>"active_student_#{supervised.id}", :student_id=>supervised.id}
          %td= supervised.full_name
          %td= supervised.program.name
          %td= supervised.campus.name
          %td= l supervised.start_date, :format => :short
          %td= supervised.staff_supervisor.full_name rescue ''
          %td= supervised.staff_co_supervisor.full_name rescue ''
          %td ver

-if @staff.supervised.where(:status => Student::GRADUATED).count > 0 || @staff.co_supervised.where(:status => Student::GRADUATED).count > 0
  %h2 Estudiantes graduados
  %table.formatted-table.students_graduated
    %tbody
      %tr.header
        %th Nombre
        %th Programa
        %th Campus
        %th Inicio
        %th Defensa Tesis
        %th Asesor
        %th Co-Asesor
      - @staff.supervised.where(:status => Student::GRADUATED).order("start_date").each_with_index do |supervised, index|
        %tr.active-student-item{:id=>"active_student_#{supervised.id}", :student_id=>supervised.id}
          %td= supervised.full_name
          %td= supervised.program.name
          %td= supervised.campus.name rescue ''
          %td= l supervised.start_date, :format => :short
          %td= l supervised.thesis.defence_date, :format => :short
          %td= supervised.staff_supervisor.full_name rescue ''
          %td= supervised.staff_co_supervisor.full_name rescue ''
      - @staff.co_supervised.where(:status => Student::GRADUATED).order("start_date").each_with_index do |supervised, index|
        %tr.active-student-item{:id=>"active_student_#{supervised.id}", :student_id=>supervised.id}
          %td= supervised.full_name
          %td= supervised.program.name
          %td= supervised.campus.name rescue ''
          %td= l supervised.start_date, :format => :short
          %td= l supervised.thesis.defence_date, :format => :short
          %td= supervised.staff_supervisor.full_name rescue ''
          %td= supervised.staff_co_supervisor.full_name rescue ''

:javascript
  $('.ts_files')
    .click(function(){
      var id      = $(this).attr("s_id");
      var a       = $("#a_"+id);
      var jqObj   = $("#slider_"+id);
      var display = jqObj.css("display");
      if(display=='none'){
        jqObj.show("slow");
        a.css("font-weight","bold");
      }
      else if(display=='block'){
        jqObj.hide(1000);
        a.css("font-weight","normal");
      }
      else if(display=='table-cell'){
        jqObj.hide(1000);
        a.css("font-weight","normal");
      }
      url = '/alumno/archivos/' + id;
      $.get(url, {}, function(html) {
        jqObj.html(html);
      });
    });

  
