=hidden_field_tag :hidden_name, "#{@staff.first_name} #{@staff.last_name}"
-if @staff.supervised.where(:status => Student::ACTIVE).count > 0 || @staff.co_supervised.where(:status => Student::ACTIVE).count > 0
  %h2 Estudiantes activos
  %table.formatted-table.students_active
    %tbody
      %tr.header
        %th Nombre
        %th Programa
        %th Campus
        %th Inicio
        %th Co-Asesor
        %th Avances
      - @staff.supervised.where(:status => Student::ACTIVE).order("start_date").each_with_index do |supervised, index|    
        %tr.active-student-item{:id=>"active_student_#{supervised.id}", :student_id=>supervised.id}
          %td= supervised.full_name
          %td= supervised.program.name
          %td= supervised.campus.name rescue ''
          %td= l supervised.start_date, :format => :short
          %td= supervised.staff_co_supervisor.full_name rescue ''
          - resultset = supervised.term_students.joins(:term).where("start_date<=? and end_date>=?",Date.today,Date.today)
          - if resultset.size<=0
            %td
              = "No hay ciclos vigentes"
          - else
            - resultset.each_with_index do |ts, index|
              %td
                %a{'id'=>"a_#{supervised.id}_#{ts.id}",'s_id'=>ts.id,:adv_id=>supervised.id,'class'=>'ts_files','style'=>'cursor:pointer;'}= ts.term.name 
              %tr
                %td{'id'=>"slider_#{supervised.id}_#{ts.id}",'style'=>'display:none;',"colspan"=>"6"}
                  = "Buscando archivos..."

      - @staff.co_supervised.where(:status => Student::ACTIVE).order("start_date").each_with_index do |supervised, index|
        %tr.active-student-item{:id=>"active_student_#{supervised.id}", :student_id=>supervised.id}
          %td= supervised.full_name
          %td= supervised.program.name
          %td= supervised.campus.name
          %td= l supervised.start_date, :format => :short
          %td= supervised.staff_supervisor.full_name rescue ''
          - resultset = supervised.term_students.joins(:term).where("start_date<=? and end_date>=?",Date.today,Date.today)
          - if resultset.size<=0
            %td
              = "No hay ciclos vigentes"
          - else
            - resultset.each_with_index do |ts, index|
              %td
                %a{'id'=>"a_#{supervised.id}_#{ts.id}",'s_id'=>ts.id,:adv_id=>supervised.id,'class'=>'ts_files','style'=>'cursor:pointer;'}= ts.term.name 
              %tr
                %td{'id'=>"slider_#{supervised.id}_#{ts.id}",'style'=>'display:none;',"colspan"=>"6"}
                  = "Buscando archivos..."

-if @staff.supervised.where(:status => Student::GRADUATED).count > 0 || @staff.co_supervised.where(:status => Student::GRADUATED).count > 0
  %h2 Estudiantes graduados
  %table.formatted-table.students_graduated
    %tbody
      %tr.header
        %th Nombre
        %th Programa
        %th Campus
        %th Inicio
        %th Defensa Tesis
        %th Asesor
        %th Co-Asesor
      - @staff.supervised.where(:status => Student::GRADUATED).order("start_date").each_with_index do |supervised, index|
        %tr.active-student-item{:id=>"active_student_#{supervised.id}", :student_id=>supervised.id}
          %td= supervised.full_name
          %td= supervised.program.name
          %td= supervised.campus.name rescue ''
          %td= l supervised.start_date, :format => :short
          %td= ""
          =# %td=# l supervised.thesis.defence_date, :format => :short
          %td= supervised.staff_supervisor.full_name rescue ''
          %td= supervised.staff_co_supervisor.full_name rescue ''
      - @staff.co_supervised.where(:status => Student::GRADUATED).order("start_date").each_with_index do |supervised, index|
        %tr.active-student-item{:id=>"active_student_#{supervised.id}", :student_id=>supervised.id}
          %td= supervised.full_name
          %td= supervised.program.name
          %td= supervised.campus.name rescue ''
          %td= l supervised.start_date, :format => :short
          %td= ""
          =#%td= l supervised.thesis.defence_date, :format => :short
          %td= supervised.staff_supervisor.full_name rescue ''
          %td= supervised.staff_co_supervisor.full_name rescue ''

%h2 Avances de comite tutoral
- advs = Advance.where("(tutor1=:id or tutor2=:id or tutor3=:id or tutor4=:id or tutor5=:id) and status='P' and advance_date>=:date",:id=>current_user.id,:date=>Date.today - 300.days)

- if advs.size == 0 
  = "No hay avances que mostrar"
- else 
  %table.formatted-table.students_active
    %tbody
      %tr.header
        %th Nombre
        %th Titulo
        %th Fecha
        %th Avances
      - advs.each do |adv|
        - flag = 0
        - resultset = adv.student.term_students.joins(:term).where("start_date<=? and end_date>=?",Date.today,Date.today)
        - resultset.each_with_index do |ts, index|
          - if ts.term.start_date.to_datetime <= adv.advance_date.to_datetime
            - flag = flag + 1
        - if 1 #flag>=1
          %tr.active-student-item{:id=>"active_advance_#{adv.id}", :advance_id=>adv.id}
            %td= adv.student.full_name
            %td= adv.title
            %td= l adv.advance_date, :format => :long
            - if resultset.size<=0
              %td
                = "No hay ciclos vigentes"
            - else
              - resultset.each_with_index do |ts, index|
                %td
                  %a{'id'=>"a_#{adv.id}_#{ts.id}",'s_id'=>ts.id,:adv_id=>adv.id,'class'=>'ts_files','style'=>'cursor:pointer;'}= ts.term.name 
                %tr
                  %td{'id'=>"slider_#{adv.id}_#{ts.id}",'style'=>'display:none;',"colspan"=>"6"}
                    = "Buscando archivos..."

:javascript
  $('.ts_files')
    .click(function(){
      var id      = $(this).attr("s_id");
      var adv_id  = $(this).attr("adv_id");
      var a       = $("#a_"+adv_id+"_"+id);
      var jqObj   = $("#slider_"+adv_id+"_"+id);
      var display = jqObj.css("display");
      if(display=='none'){
        jqObj.show("slow");
        a.css("font-weight","bold");
      }
      else if(display=='block'){
        jqObj.hide(1000);
        a.css("font-weight","normal");
      }
      else if(display=='table-cell'){
        jqObj.hide(1000);
        a.css("font-weight","normal");
      }
      url = '/alumno/archivos/' + id;
      $.get(url, {}, function(html) {
        jqObj.html(html);
      });
    });

