= form_for(@student, :remote=> true, :url => { :action => "assign_courses" }, :html => {:id => 'assign-courses-form'}) do |f|
  = hidden_field_tag 'ts_id', @ts.id
  = hidden_field_tag 's_id', @student.id
  = hidden_field_tag 'haction', 0
  %b{:style=>"font-weight: bold;"}= "Alumno:"
  = @student.full_name
  %br
  %b{:style=>"font-weight: bold;"}= "Ciclo Escolar:"
  = @ts.term.name
  %br
  %br
  .materias{:style=>'width:550px;margin: 0 auto;'}
    %table.table-striped{:border=>1}
      - counter = 1
      - if @tcs.size>0
        %tr
          %th{:style=>"font-weight: bold;"}= "#"
          %th{:style=>"font-weight: bold;"}= "Materia"
          %th{:style=>"font-weight: bold;"}= "Programa"
        - @tcs.each_with_index do |tcs,i|
          %tr
            %td{:style=>"vertical-align: top;"}= counter
            %td
              %b{:style=>"font-weight: bold;"}= tcs.term_course.course.name
              %br
              %b{:style=>"font-weight: bold; color:#999; font-size:12px;"}= tcs.term_course.staff.full_name rescue "Docente sin asignar"
            %td= tcs.term_course.course.program.name
            - counter = counter + 1
      - else
        %tr
          %td{:colspan=>3}= "No se han elegido materias."
        - access = false
      %tr
        %td{:colspan=>3}= "&nbsp;".html_safe
      %tr
        %td{:colspan=>3}
          = text_area_tag "refuse_area", nil, :cols=>45, :rows=>5, :style=>"display: none"
          #textarea-dialog
            #data
              = "Tiene que escribir un motivo para rechazar la selección de materias: "
              = text_area_tag "refuse_area_first", nil, :cols=>45, :rows=>5, :align=>:center
            #buttons
              = button_tag "Cancelar", :disable_with => "Enviando..." , :id=>"nedCloseButton1"
              = button_tag "Rechazar", :disable_with => "Enviando..." , :id=>"nedRefuseButton1"

:javascript
  $(document).ready(function() {
    $("#textarea-dialog").dialog({
      autoOpen: false,
      width: 480,
      height: 200,
      modal: false,
      draggable: true,
      dialogClass: "no-close",
    });
  });
