%h2= "Datos personales"
%table.table.table-striped
  %tr
    %td Numero de empleado:
    %td.right
      = @staff.id
  %tr
    %td Sexo
    %td
      - if @staff.gender=='F'
        = "Mujer"
      - if @staff.gender=='H'
        = "Hombre"
  %tr
    %td SNI:
    %td
      = @staff.sni
  %tr
    %td CVU:
    %td
      = @staff.cvu
  %tr
    %td Correo Electronico:
    %td
      = @staff.email

