!!!
%html
  %head
    %title= @page_title || 'Académicos CIMAV'
    = stylesheet_link_tag "custom-theme/jquery-ui"
    = stylesheet_link_tag "application"
    - if !@include_css.nil?
      - @include_css.each do |css|
        = stylesheet_link_tag css
    /[if lt IE 8]
    = javascript_include_tag "application"
    - if !@include_js.nil?
      - @include_js.each do |js|
        = javascript_include_tag js
    = csrf_meta_tag
  %body
    .row
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            %p.navbar-brand Académicos CIMAV
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/logout"}
                %span.glyphicon.glyphicon-log-out
                salir

      .container-fluid

        .col-xs-2.hidden-xs.hidden-sm
          %br
          %br
          %br
          %center
            - if @staff.image_url.nil?
              = image_tag "http://posgrado.cimav.edu.mx/assets/staff/fallback/medium_default.jpg", :id => "img-medium-#{@staff.id}", :class=> "img-medium", :width=>"100px", :height=>"100px", :alt=>"Buscando imagen...", :align=>"center"
            - else
              %div{:style=>"width:100px;height:100px;border: 1px solid #EEEEEE"}
                = image_tag "http://posgrado.cimav.edu.mx/#{@staff.image_url(:medium)}", :id => "img-medium-#{@staff.id}", :class=> "img-medium img-thumbnail", :width=>"100px", :height=>"100px", :alt=>"x", :align=>"center"
            %br
            %strong= "#{@staff.first_name} #{@staff.last_name}"
            %br
            %br
          %ul.nav.nav-pills.nav-stacked
            %li{:class => active_class(root_path)}
              %a.menu{'href' => "/"}= "  Inicio"

            %li{:class => active_class("/horarios")}
              %a.menu{'href' => "/horarios"}= "  Horarios"

            %li{:class => active_class("/alumnos")}
              %a.menu{'href' => "/alumnos"}= "  Alumnos"

            %li{:class => active_class("/calificaciones")}
              %a.menu{'href' => "/calificaciones"}= "  Calificaciones"

            %li#inscripciones-tab{:class => active_class("/inscripciones")}
              %a.menu{'href' => "/inscripciones"}= "  Inscripciones"

        .col-xs-10
          = yield

